{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid">
  <h2 class="text-center mt-5">Discover</h2>

  <div class="row">

    {{ include('home/_podcast_episode.html.twig', { podcaster: "Waveform", episode: "Tech We Want to See in 2022!", image: "img/podcasters/waveform.jpg" }) }}

    {{ include('home/_podcast_episode.html.twig', { podcaster: "Waveform", episode: "Tech We Want to See in 2022!", image: "img/podcasters/waveform.jpg" }) }}

    {{ include('home/_podcast_episode.html.twig', { podcaster: "Waveform", episode: "Tech We Want to See in 2022!", image: "img/podcasters/waveform.jpg" }) }}

    {{ include('home/_podcast_episode.html.twig', { podcaster: "Waveform", episode: "Tech We Want to See in 2022!", image: "img/podcasters/waveform.jpg" }) }}

    {{ include('home/_podcast_episode.html.twig', { podcaster: "Waveform", episode: "Tech We Want to See in 2022!", image: "img/podcasters/waveform.jpg" }) }}

    {{ include('home/_podcast_episode.html.twig', { podcaster: "Waveform", episode: "Tech We Want to See in 2022!", image: "img/podcasters/waveform.jpg" }) }}

    {{ include('home/_podcast_episode.html.twig', { podcaster: "Waveform", episode: "Tech We Want to See in 2022!", image: "img/podcasters/waveform.jpg" }) }}

    {{ include('home/_podcast_episode.html.twig', { podcaster: "Waveform", episode: "Tech We Want to See in 2022!", image: "img/podcasters/waveform.jpg" }) }}

    {{ include('home/_podcast_episode.html.twig', { podcaster: "Waveform", episode: "Tech We Want to See in 2022!", image: "img/podcasters/waveform.jpg" }) }}

    {{ include('home/_podcast_episode.html.twig', { podcaster: "Waveform", episode: "Tech We Want to See in 2022!", image: "img/podcasters/waveform.jpg" }) }}

    {{ include('home/_podcast_episode.html.twig', { podcaster: "Waveform", episode: "Tech We Want to See in 2022!", image: "img/podcasters/waveform.jpg" }) }}

    {{ include('home/_podcast_episode.html.twig', { podcaster: "Waveform", episode: "Tech We Want to See in 2022!", image: "img/podcasters/waveform.jpg" }) }}

  </div>
</div>
<!-- ##### Discover: End ##### -->

{% endblock %}
