{% extends 'base.html.twig' %}

{% block body %}
{{ include('_ellipsis.html.twig') }}
{{ include('_navbar.html.twig') }}
  <section class="breadcumb-area bg-img bg-overlay" style="background-image: url({{ asset ('img/bg-img/breadcumb3.jpg')}});">
        <div class="bradcumbContent">
            <p>Offer Manager dashboard</p>
            <a href="/addoffer" class="btn btn-success">Create new offer</a>  
        </div>
    </section>
 
 <!-- ##### Events Area Start ##### -->
    <section class="events-area section-padding-100">
        <div class="container">
            <div class="row">
            {% for ofs in offers %}

                <!-- Single Event Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-event-area mb-30">
                        <div class="event-thumbnail">
                            <img src="img/ofs-img/{{ofs.image}}" alt="">
                        </div>
                        <div class="event-text">
                            <h4>Offer ID : {{ofs.id}}</h4>
                            <div class="event-meta-data">
                                <a href="#" class="event-place">Price</a>
                                <a href="#" class="event-date">${{ofs.price}}</a>
                            </div>
                          
                               <a href="{{path("editoffer", {'id': ofs.id})}}" class="btn btn-success">Edit</a>                             
                         
                        
                        </div>
                    </div>
                </div>
             {%endfor%}
            


                <div class="col-12">
                    <div class="load-more-btn text-center mt-70">
                        <a href="#" class="btn oneMusic-btn">Load More <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Events Area End ##### -->



{% endblock %}




