{% extends 'baseTicket.html.twig' %}

{% block title %}Report
{% endblock %}

{% block body %}

	<body>
	
				<div
					class="single-hero-slide d-flex align-items-center justify-content-center">
					<!-- Slide Img -->
					<div class="slide-img bg-img" style="background-image: url({{asset('Aziz/assets/img/bg-img/bg-2.jpg')}});"></div>
					<!-- Slide Content -->
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="hero-slides-content text-center">
									<h6 data-animation="fadeInUp" data-delay="100ms">SEND A TICKET</h6>
									<h2 data-animation="fadeInUp" data-delay="300ms">Magnum REPORT
										<span>Magnum REPORT</span>
									</h2>
								
									<br>
										 {{ form_start(f,{attr:{novalidate:'novalidate'}}) }}
										 <center>
                              <div class="col-sm-10">
                            {{ form_widget(f.type,{'attr':{'class':'form-control'}}) }}

                            </div>
                           {{ form_errors(f.type,{'attr':{'class':'text-danger'}}) }}


                           <br>

						    <div class="col-sm-10" style="display: flex;align-items: center;justify-content: center">

                        {{ form_widget(f.SEND,{'attr':{'class':'btn btn-primary'}}) }}
                    </div>
					
					
					</center>



							{{ form_end(f) }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</section>

			

		
		
	</body>
</div>{% endblock %}
