{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">

      {% for label, messages in app.flashes(['danger', 'success']) %}
      {% for message in messages %}
      <div class="alert alert-{{ label }}">
	{{ message }}
      </div>
      {% endfor %}
      {% endfor %}

    </div>
  </div>
</div>

{{ form_start(form) }}
<div class="form-group row">
  {{ form_label(form.username) }}
  <div class="col-sm-10">
    {{ form_widget(form.username) }}
  </div>
</div>

{{ form_widget(form.generate) }}
{{ form_end(form) }}

{% endblock %}
