{% extends 'user/base.html.twig' %}
{% block title %} {{app.user.username}}'s security details {% endblock %}

{% block content %}
<section class="section-padding-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="login-content">
          <h3>Update Your Security Credentials</h3>
	  {% for label, messages in app.flashes(['danger', 'success']) %}
	  {% for message in messages %}
	  <div class="alert alert-{{ label }}">
	    {{ message }}
	  </div>
	  {% endfor %}
	  {% endfor %}

	  {{ form_start(form) }}
	  {{ form_end(form) }}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
