<header class="header-area">
  <!-- Navbar Area -->
  <div class="oneMusic-main-menu">
    <div class="classy-nav-container breakpoint-off">
      <div class="container">
	<!-- Menu -->
	<nav class="classy-navbar justify-content-between" id="oneMusicNav">

	  <!-- Nav brand -->
	  <a href="{{ url('app_home') }}" class="nav-brand"><h1 class="logo">Magnum</h1></a>

	  <!-- Navbar Toggler -->
	  <div class="classy-navbar-toggler">
	    <span class="navbarToggler">
	      <span>
	      </span>
	      <span>
	      </span>
	      <span>
	      </span>
	    </span>
	  </div>

	  <!-- Menu -->
	  <div class="classy-menu">

	    <!-- Close Button -->
	    <div class="classycloseIcon">
	      <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
	    </div>

	    <!-- Nav Start -->
	    <div class="classynav">
	      <ul>
		<li><a href="{{ url('app_home') }}">Home</a></li>
		<li><a href="{{ url('app_home') }}">Albums</a></li>
		<li><a href="{{ url('app_home') }}">Pages</a>
		  <ul class="dropdown">
		    <li><a href="{{ url('app_home') }}">Home</a></li>
		    <li><a href="{{ url('app_home') }}">Albums</a></li>
		    <li><a href="{{ url('app_home') }}">Events</a></li>
		    <li><a href="{{ url('app_home') }}">News</a></li>
		    <li><a href="{{ url('app_home') }}">Contact</a></li>
		    <li><a href="{{ url('app_home') }}">Elements</a></li>
		    <li><a href="{{ url('app_home') }}">Login</a></li>
		    <li><a href="#">Dropdown</a></li>
		  </ul>
		</li>
		<li><a href="{{ url('app_home') }}">Events</a></li>
		<li><a href="{{ url('app_home') }}">News</a></li>
		<li><a href="{{ url('app_home') }}">Contact</a></li>
		<li><a href="{{ url('app_login') }}">Login</a></li>
	      </ul>
	    </div>
	    <!-- Nav End -->

	  </div>
	</nav>
      </div>
    </div>
  </div>
</header>
