<header class="header-area">
  <!-- Navbar Area -->
  <div class="oneMusic-main-menu">
    <div class="classy-nav-container breakpoint-off">
      <div class="container">
	<!-- Menu -->
	<nav class="classy-navbar justify-content-between" id="oneMusicNav">

	  <!-- Nav brand -->
	  <a href="{{ url('home') }}" class="nav-brand"><h1 class="logo">Magnum</h1></a>

	  <!-- Navbar Toggler -->
	  <div class="classy-navbar-toggler">
	    <span class="navbarToggler">
	      <span>
	      </span>
	      <span>
	      </span>
	      <span>
	      </span>
	    </span>
	  </div>

	  <!-- Menu -->
	  <div class="classy-menu">

	    <!-- Close Button -->
	    <div class="classycloseIcon">
	      <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
	    </div>

	    <!-- Nav Start -->
	    <div class="classynav">
	      <ul>
		<li><a href="{{ url('home') }}">Home</a></li>
		<li><a href="{{ url('home') }}">Albums</a></li>
		<li><a href="{{ url('home') }}">Events</a></li>
		<li><a href="{{ url('home') }}">News</a></li>
	   </li>
      {% if app.user %}
        {% if app.user == "podcasters" %}
         <li class="nav-item active">
       	<a class="nav-link" href="{{ url('home') }}">Your offers</a>
      </li>
      {% endif %}
	    <li><a href="{{ url('user_profile') }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  {{ app.user.username }}
	</a>
  <ul class="dropdown">
	  <li><a href="{{ path('user_profile', { username: app.user.username }) }}">Profile</a></li>
	  <li><a href="{{ path('app_logout') }}">Logout</a></li>
	</ul>
  </li>
      {% else %}
      <li class="nav-item">
	<a class="nav-link" href="{{ path('app_login') }}">Login</a>
      </li>
      {% endif %}
	      </ul>
	    </div>
	    <!-- Nav End -->
	  </div>
	</nav>
      </div>
    </div>
  </div>
</header>



