<!DOCTYPE html>
<html>
  <head>
    {% block head %}
       <meta charset="UTF-8">
       <meta name="description" content="Magnum, podcasts done right!">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       <title>Welcome to Magnum!</title>
       {# <link rel="icon" href="{{ asset('img/core-img/favicon.ico') }}"> #}
    {% endblock %}

    {% block stylesheets %}
       <link rel="stylesheet" href="{{ asset('style.css') }}">
    {% endblock %}
  </head>

  <body>
    {% block body %}{% endblock %}

    {% block javascripts %}
       <script src="{{ asset('js/jquery/jquery-2.2.4.min.js') }}"></script>
       <script src="{{ asset('js/bootstrap/popper.min.js') }}"></script>
       <script src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>
       <script src="{{ asset('js/plugins/plugins.js') }}"></script>
       <script src="{{ asset('js/active.js') }}"></script>
    {% endblock %}
  </body>

</html>
