{% extends 'base-admin.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h1>Categorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idcategorie</th>
                <td>{{ categorie.idcategorie }}</td>
            </tr>
            <tr>
                <th>Namecateg</th>
                <td>{{ categorie.namecateg }}</td>
            </tr>
            <tr>
                <th>Descriptioncateg</th>
                <td>{{ categorie.descriptioncateg }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_categorie_index') }}">back to list</a>

    <a href="{{ path('app_categorie_edit', {'idcategorie': categorie.idcategorie}) }}">edit</a>

    {{ include('categorie/_delete_form.html.twig') }}
{% endblock %}
