{% extends 'user/base.html.twig' %}

{% block title %} {{app.user.username}}'s history {% endblock %}

{% block content %}

    {% for label, messages in app.flashes(['danger', 'success']) %}
	{% for message in messages %}
	    <div class="alert alert-{{ label }}">
		{{ message }}
	    </div>
	{% endfor %}
    {% endfor %}

  {# History manipulation form #}
  {{ form_start(form)}}

  <div class="form-group">
  {{ form_label(form.activity)}}
  {{ form_widget(form.activity)}}
  </div>

  {{ form_widget(form.clear)}}
  {{ form_widget(form.filter)}}

  {{ form_end(form)}}

  {# Display user history #}
  {% for h in history %}
    {{ include ('user/tabs/history/_history_card.html.twig', { 'history': h }) }}
  {% else %}
    <p class="text-center font-weight-bold" style="font-size: 20px;">You have no history.</p>
  {% endfor %}

{% endblock %}
